/.vs/WPFClientSample/v15/.suo
/.vs/WPFClientSample/v15/Server/sqlite3/db.lock
/.vs/WPFClientSample/v15/Server/sqlite3/storage.ide
/.vs/WPFClientSample/v15/Server/sqlite3/storage.ide-shm
/.vs/WPFClientSample/v15/Server/sqlite3/storage.ide-wal
/WPFClient/bin/
/.vs/WPFClientSample/v15/.suo
